/* /* .scroll-container::-webkit-scrollbar-thumb {
    background-color:none;
    border-radius: 0px; 
    border: 0px solid transparent; 
  }

  .scroll-container::-webkit-scrollbar {
    width: 0px;
  }

  .scroll-container::-webkit-scrollbar-track {
    background: transparent;
  }
  .responsive-button {
    transition: all 0.3s ease;
  }
  


  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 80%;
  }
  
  .create-group-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .create-group-button p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .scroll-container {
    padding-right: 20px;
  }
  
  @media (max-width: 768px) {
    .create-group-button {
      font-size: 18px;
      padding: 12px 25px;
    }
  }
  
  @media (max-width: 480px) {
    .create-group-button {
      font-size: 16px;
      padding: 10px 20px;
    }
  
    .modal-content {
      width: 100%;
      max-width: none;
    }
  }
  
  .created-groups {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .created-groups {
      width: 100vw; 
    }
  }
  
  .group-list {
    padding: 20px;
  }
  
  .group-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .group-item:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
  }
   

  /* App.css */

/* Add the necessary styles to ensure responsiveness */
/* body, html, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (min-width: 769px) {
  .App {
    flex-direction: row;
  }
} */

/* .sidebar, .display-content {
  flex: 1;
  overflow: auto;
} */

/* @media (max-width: 768px) {
  .sidebar {
    display: ${({ showSelectedGroupData }) => (showSelectedGroupData ? 'none' : 'block')};
  }
  .display-content {
    display: ${({ showSelectedGroupData }) => (showSelectedGroupData ? 'block' : 'none')};
  }
} */

